body {
  text-align: center;
  font-family: 'Georgia', serif;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #772f1a; /*brown*/
  color: tan; /*brown*/
}

img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
    align-items: center;
    
}

h1 {
  color: tan;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin: 5px 0;
 }

.footer{
   margin-top: 20px;
    background-color: tan;
    color: brown;
}